# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Compilados
out/
*.class

# Build tools, por si más adelante usan Maven o Gradle
target/
build/
.gradle/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Temporales
*.tmp
*.swp